/* body{
   background-image: url("farm.jpg");
    background-size: cover;
    background-position: center;
}    */


* {
    padding:0 ;
    margin:0 ;
    box-sizing: border-box;
}



.menu-bar{
    background-color: #2B7A0B;
    text-align: center;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color:#2B7A0B;

}

.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;

}

.menu-bar ul li a{
    text-decoration: none;
    color: #5BB318;
}

.active, .menu-bar ul li:hover
{
  background: #EAE509;
   border-radius: 2px;

}




